<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Depuy Synthes</title>
  <link rel="stylesheet" href="../css/vendor/normalize.css">
  <link rel="stylesheet" href="../css/vendor/bootstrap.css">
  <link rel="stylesheet" href="../css/source/style.css">
  <link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/vendor/bootstrap.js"></script>
  <script src="../js/vendor/imgLiquid.js"></script>
  <script src="../js/vendor/jquery.flexslider.js"></script>
  <script src="../js/source/main.js"></script>
</head>
  <body>
    <nav class="banner navbar navbar-default navbar-fixed-top" role="banner">
      <div id="navy" class="container">
        <a class="navbar-brand" href="../index.html">
          <div id="nav-logo">
          </div>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="storyIndex.html" id="ambassadors-nav-link">Ambassadors</a></li>
            <li><a href="storyForm.html" id="story-nav-link">Tell Us Your Story</a></li>
            <li class="search hidden-xs">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group input-group">
                  <span class="input-group-addon"><img src="../images/pool/search.png" /></span>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main" class="container">


        <!-- Header -->

        <div class="row">
          <div class="col-xs-12">
            <div class="storyHeader text-left inBlock"><h2 id="sh1">Search Results for <span class="grey">: </span> </h2></div>
            <div class="storyHeader text-left inBlock"><h2 id="sh2">Anterior</h2></div>
          </div>
        </div>

        <!-- Hero Unit -->

        <div class="row">
          <div class="col-xs-12">
            <div class="story-unit hero-unit search-unit">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="search-results-list">
                    <li class="search-item-title">
                      Lorem ipsum dolor sit amet, at qui vocent aeterno nostrud.
                    </li>
                    <li class="search-item">
                      <p>
                        Per elit facilisi liberavisse ex. Illum doctus mnesarchum ut nec, oportere euripidis ne eum, nec illum malis officiis no. Eius menandri consequuntur has an, dicta accumsan duo at.
                      </p>
                    </li>
                    <li class="search-hr">
                      <hr />
                    </li>
                  </ul>
                  <ul class="search-results-list">
                    <li class="search-item-title">
                      Lorem ipsum dolor sit amet, at qui vocent aeterno nostrud.
                    </li>
                    <li class="search-item">
                      <p>
                        Per elit facilisi liberavisse ex. Illum doctus mnesarchum ut nec, oportere euripidis ne eum, nec illum malis officiis no. Eius menandri consequuntur has an, dicta accumsan duo at.
                      </p>
                    </li>
                    <li class="search-hr">
                      <hr />
                    </li>
                  </ul>
                  <ul class="search-results-list">
                    <li class="search-item-title">
                      Lorem ipsum dolor sit amet, at qui vocent aeterno nostrud.
                    </li>
                    <li class="search-item">
                      <p>
                        Per elit facilisi liberavisse ex. Illum doctus mnesarchum ut nec, oportere euripidis ne eum, nec illum malis officiis no. Eius menandri consequuntur has an, dicta accumsan duo at.
                      </p>
                    </li>
                    <li class="search-hr">
                      <hr />
                    </li>
                  </ul>
                  <ul class="search-results-list">
                    <li class="search-item-title">
                      Lorem ipsum dolor sit amet, at qui vocent aeterno nostrud.
                    </li>
                    <li class="search-item">
                      <p>
                        Per elit facilisi liberavisse ex. Illum doctus mnesarchum ut nec, oportere euripidis ne eum, nec illum malis officiis no. Eius menandri consequuntur has an, dicta accumsan duo at.
                      </p>
                    </li>
                    <li class="search-hr">
                      <hr />
                    </li>
                  </ul>
                  <ul class="search-results-list">
                    <li class="search-item-title">
                      Lorem ipsum dolor sit amet, at qui vocent aeterno nostrud.
                    </li>
                    <li class="search-item">
                      <p>
                        Per elit facilisi liberavisse ex. Illum doctus mnesarchum ut nec, oportere euripidis ne eum, nec illum malis officiis no. Eius menandri consequuntur has an, dicta accumsan duo at.
                      </p>
                    </li>
                    <li class="search-hr">
                      <hr />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>




















      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="foottopnav">
              <li>
                <a href="#">
                  <h6>Careers - Johnson & Johnson </h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Contact Us</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Privacy Policy</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Legal Notice</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Site Map</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Safe Harbor</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Ethics Hotline</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Consultant Indentification & Payments</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>California Compliance Notice</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h6 id="jpr">Joint Pain Resources:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="footbotnav">
              <a href="#" class="bot active">
                <li>
                  <h6>Find A Physician</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>hipreplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>kneereplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>reallifetested.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>hadiknownthen.com</h6>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              &#169 DePuy Synthes Joint Reconstruction, a division of DOI 2014. All rights reserved. This site is published by DePuy Synthes Companies which is solely responsible for its content.  This site is intended for visitors from the United States.  The third party trademarks used herein are the trademarks of their respective owners.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
