<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Depuy Synthes</title>
    <link rel="stylesheet" href="../css/vendor/normalize.css">
    <link rel="stylesheet" href="../css/vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/source/style.css">
    <link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/vendor/bootstrap.js"></script>
    <script src="../js/vendor/imgLiquid.js"></script>
    <script src="../js/vendor/jquery.flexslider.js"></script>
    <script src="../js/source/main.js"></script>
  </head>
  <body>
    <nav class="banner navbar navbar-default navbar-fixed-top" role="banner">
      <div id="navy" class="container">
        <a class="navbar-brand" href="http://google.com">
          <div id="nav-logo">
          </div>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="ambassadors-nav-link">Ambassadors</a></li>
            <li><a href="#" id="story-nav-link">Tell Us Your Story</a></li>
            <li class="search hidden-xs">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group input-group">
                  <span class="input-group-addon"><img src="../images/pool/Search.png" /></span>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main" class="container">

        <!-- Header -->

        <div class="row">
          <div class="col-xs-12">
            <div class="storyHeader text-left inBlock"><h2 id="sh1">Tell Us Your Story</h2></div>
          </div>
        </div>


        <!-- Hero Unit -->

        <div class="row">
          <div class="col-xs-12">
            <div class="story-unit hero-unit form-unit">
              <div class="row">
                <div class="col-sm-12 top-disclaimer-text">
                  <p>
                    We will include the information you provide on the website for others to view. It may have minor wording changes in order to adhere to approval process. If you would like to review our privacy policy, it is located in the link at the bottom of this page.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form role="form" class="form-inline">
                    <div class="form-group">
                      <input type="text" class="form-control first-name" placeholder="First Name">
                      <input type="text" class="form-control last-name" placeholder="Last Name">
                      <input type="text" class="form-control email" placeholder="your@email.com">
                      <input type="text" class="form-control zip" placeholder="Zip">
                      <input type="text" class="form-control city" placeholder="City">
                    </div>
                    <div class="btn-group state-dropdown">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        State <img src="../images/pool/DropdownArrow@2x.png" class="dropdown-arrow" />
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Alabama</a></li>
                        <li><a href="#">Alaska</a></li>
                        <li><a href="#">Arizona</a></li>
                        <li><a href="#">Arkansas</a></li>
                        <li><a href="#">California</a></li>
                        <li><a href="#">Colorado</a></li>
                        <li><a href="#">Connecticut</a></li>
                        <li><a href="#">Delaware</a></li>
                        <li><a href="#">Florida</a></li>
                        <li><a href="#">Georgia</a></li>
                        <li><a href="#">Hawaii</a></li>
                        <li><a href="#">Idaho</a></li>
                        <li><a href="#">Illinois</a></li>
                        <li><a href="#">Indiana</a></li>
                        <li><a href="#">Kansas</a></li>
                        <li><a href="#">Kentucky</a></li>
                        <li><a href="#">Louisiana</a></li>
                        <li><a href="#">Maine</a></li>
                        <li><a href="#">Maryland</a></li>
                        <li><a href="#">Massachusetts</a></li>
                        <li><a href="#">Michigan</a></li>
                        <li><a href="#">Minnesota</a></li>
                        <li><a href="#">Missippi</a></li>
                        <li><a href="#">Missouri</a></li>
                        <li><a href="#">Montana</a></li>
                        <li><a href="#">Nebraska</a></li>
                        <li><a href="#">Nevada</a></li>
                        <li><a href="#">New Hampshire</a></li>
                        <li><a href="#">New Jersey</a></li>
                        <li><a href="#">New Mexico</a></li>
                        <li><a href="#">New York</a></li>
                        <li><a href="#">North Carolina</a></li>
                        <li><a href="#">North Dakota</a></li>
                        <li><a href="#">Ohio</a></li>
                        <li><a href="#">Oklahoma</a></li>
                        <li><a href="#">Oregon</a></li>
                        <li><a href="#">Pennsylvania</a></li>
                        <li><a href="#">Rhode Island</a></li>
                        <li><a href="#">South Carolina</a></li>
                        <li><a href="#">South Dakota</a></li>
                        <li><a href="#">Tennessee</a></li>
                        <li><a href="#">Texas</a></li>
                        <li><a href="#">Utah</a></li>
                        <li><a href="#">Vermont</a></li>
                        <li><a href="#">Virginia</a></li>
                        <li><a href="#">Washington</a></li>
                        <li><a href="#">West Virginia</a></li>
                        <li><a href="#">Wisconsin</a></li>
                        <li><a href="#">Wyoming</a></li>
                      </ul>
                    </div>
                    <div class="btn-group add-a-photo">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add a Photo <img src="../images/pool/AddPhoto@2x.png" class="dropdown-arrow" />
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li>Merrr.</li>
                      </ul>
                    </div>

                  <div class="row">
                    <div class="col-sm-12 what-joints">
                      <p class="blue-accent">What joint(s) did you have replaced?</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <strong><p class="blue-accent">Hip</p></strong>
                      <ul class="hip-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <strong><p class="blue-accent">Knee</p></strong>
                      <ul class="knee-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <strong><p class="blue-accent">Shoulder</p></strong>
                      <ul class="shoulder-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 what-joints">
                      <p class="blue-accent">What activities/hobbies have returned to you?</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 list-of-activity-items">
                      <p>
                        <img src="../images/pool/tennis@2x.png" class="activity-icon tennis-icon" />
                        <input type="checkbox"> Tennis</p>
                      <p>
                        <img src="../images/pool/biking@2x.png" class="activity-icon biking-icon" />
                        <input type="checkbox"> Biking</p>
                      <p>
                        <img src="../images/pool/golfing@2x.png" class="activity-icon golfing-icon" />
                        <input type="checkbox"> Golfing</p>
                    </div>
                    <div class="col-xs-6 list-of-activity-items">
                      <p>
                        <img src="../images/pool/swimming@2x.png" class="activity-icon swimming-icon" />
                        <input type="checkbox"> Swimming</p>
                      <p>
                        <img src="../images/pool/walking@2x.png" class="activity-icon walking-icon" />
                        <input type="checkbox"> Walking</p>
                      <p>
                        <img src="../images/pool/dancing@2x.png" class="activity-icon dancing-icon" />
                        <input type="checkbox"> Dancing</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="text" class="form-control other" />
                      <p class="other"><input type="checkbox"> Other</p>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-12 depuy-joint">
                      <p class="blue-accent">Do you have a DePuy Synthes hip, knee, or shoudler replacement?</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                      <ul class="list row">
                        <li class="col-sm-4">
                          <input type="checkbox"> Yes
                        </li>
                        <li class="col-sm-4">
                          <input type="checkbox"> No
                        </li>
                        <li class="col-sm-4">
                          <input type="checkbox"> I don't know
                        </li>
                      </ul>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-12 what-was-life-like">
                      <p class="blue-accent">What was life like before joint replacement? What major activities did you stop that affected your quality of life?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 turning-point">
                      <p class="blue-accent">What was the turning point for you (the moment you knew you needed to move ahead with surgery)?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 life-now">
                      <p class="blue-accent">What is life like hnow? How has joint replacement changed your life for the better?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 advice-for-others">
                      <p class="blue-accent">What advice do you have for others - around rehab, watiing to have your joint replacement, etc? (<strong>NOTE: This will appear as the quote on your profile</strong>)</p>
                      <textarea rows="3"></textarea>
                      <p class="character-limit-reminder">140 characters left</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 submit-checkbox">
                      <p class="consent-form"><input type="checkbox"> I have read the <a href="#">Consent Form</a></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 submit-button">
                      <button type="button" class="btn btn-primary btn-default submit-story-btn">Submit Story </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 submit-checkbox">
                      <p><span class="required">All Fields Required</span>
                      <br />Last name and email address will not be displayed</p>
                    </div>
                  </div>

                </form>



              </div>
            </div>
          </div>
        </div>























      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="foottopnav">
              <li>
                <a href="#">
                  <h6>Careers - Johnson & Johnson </h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Contact Us</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Privacy Policy</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Legal Notice</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Site Map</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Safe Harbor</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Ethics Hotline</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Consultant Indentification & Payments</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>California Compliance Notice</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h6 id="jpr">Joint Pain Resources:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="footbotnav">
              <a href="#" class="bot">
                <li>
                  <h6>Find A Physician</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>hipreplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>kneereplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>reallifetested.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>headiknownthen.com</h6>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              &#169 DePuy Synthes Joint Reconstruction, a division of DOI 2014. All rights reserved. This site is published by DePuy Synthes Companies which is solely responsible for its content.  This site is intended for visitors from the United States.  The third party trademarks used herein are the trademarks of their respective owners.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
