<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Depuy Synthes</title>
    <link rel="stylesheet" href="../css/vendor/normalize.css">
    <link rel="stylesheet" href="../css/vendor/bootstrap.css">
    <link rel="stylesheet" href="../css/source/style.css">
    <link rel="stylesheet" href="../css/vendor/select2.css">
    <link rel="stylesheet" href="../css/vendor/select2-bootstrap.css">
    <link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
    <!--[if gt IE 8]><!--> <script src="../js/vendor/jquery.js"></script> <!--<![endif]-->
    <!--[if lte IE 8]>
      <script src='../js/vendor/jquery-1.11.2.min.js'></script>
      <link rel="stylesheet" href="../css/source/ie8.css">
    <![endif]-->
    <script src="../js/vendor/modernizr.js"></script>
    <script src="../js/vendor/respond.min.js"></script>
    <script src="../js/vendor/select2.min.js"></script>
    <script src="../js/vendor/bootstrap.js"></script>
    <script src="../js/vendor/imgLiquid.js"></script>
    <script src="../js/vendor/jquery.flexslider.js"></script>
    <script src="../js/source/main.js"></script>
  </head>
  <body>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
      <div id="navy" class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">
            <div id="nav-logo">
            </div>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="menu-primary-navigation" class="nav navbar-nav navbar-right">
            <li><a href="storyIndex.html" id="ambassadors-nav-link">Ambassadors</a></li>
            <li><a href="storyForm.html" class ='main-nav-active' id="story-nav-link">Tell Us Your Story</a></li>
            <li>
              <form class="navbar-form navbar-left hidden-xs hidden-sm navbar-right" role="search">
                <div class="form-group input-group">
                  <span class="input-group-addon"><img src="../images/pool/search.png" /></span>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="wrap">
      <div id="main" class="container">

        <!-- Header -->

        <div class="row">
          <div class="col-xs-12">
            <div class="storyHeader text-left inBlock"><h2 id="sh1">Tell Us Your Story</h2></div>
          </div>
        </div>


        <!-- Hero Unit -->

        <div class="row">
          <div class="col-xs-12">
            <div class="story-unit hero-unit form-unit">
              <div class="row">
                <div class="col-sm-12 top-disclaimer-text">
                  <p>
                    The information you provide will be included on a public website for others to view and is in accordance with our privacy policy.  By clicking “Submit Story” at the bottom of the page, you acknowledge that you have reviewed and agree to our <strong>Privacy Policy</strong>.  Your submission may require wording changes in order to adhere to our approval process.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form role="form" class="form-inline">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                          <input type="text" class="form-control first-name" placeholder="First Name">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                          <input type="text" class="form-control last-name" placeholder="Last Name">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                          <input type="text" class="form-control email" placeholder="your@email.com">
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                          <input type="text" class="form-control zip" placeholder="Zip">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2">
                          <input type="text" class="form-control city" placeholder="City">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                          <div class="state-wrapper">
                            <select data-placeholder="State:" class="select24 drop-down select2-container select24 drop-down btn btn-default dropdown-toggle" role="menu">
                              <option></option>
                              <option><a href="#">All</a></option>
                              <option><a href="#">Alabama</a></option>
                              <option><a href="#">Alaska</a></option>
                              <option><a href="#">Arizona</a></option>
                              <option><a href="#">Arkansas</a></option>
                              <option><a href="#">California</a></option>
                              <option><a href="#">Colorado</a></option>
                              <option><a href="#">Connecticut</a></option>
                              <option><a href="#">Delaware</a></option>
                              <option><a href="#">Florida</a></option>
                              <option><a href="#">Georgia</a></option>
                              <option><a href="#">Hawaii</a></option>
                              <option><a href="#">Idaho</a></option>
                              <option><a href="#">Illinois</a></option>
                              <option><a href="#">Indiana</a></option>
                              <option><a href="#">Kansas</a></option>
                              <option><a href="#">Kentucky</a></option>
                              <option><a href="#">Louisiana</a></option>
                              <option><a href="#">Maine</a></option>
                              <option><a href="#">Maryland</a></option>
                              <option><a href="#">Massachusetts</a></option>
                              <option><a href="#">Michigan</a></option>
                              <option><a href="#">Minnesota</a></option>
                              <option><a href="#">Missippi</a></option>
                              <option><a href="#">Missouri</a></option>
                              <option><a href="#">Montana</a></option>
                              <option><a href="#">Nebraska</a></option>
                              <option><a href="#">Nevada</a></option>
                              <option><a href="#">New Hampshire</a></option>
                              <option><a href="#">New Jersey</a></option>
                              <option><a href="#">New Mexico</a></option>
                              <option><a href="#">New York</a></option>
                              <option><a href="#">North Carolina</a></option>
                              <option><a href="#">North Dakota</a></option>
                              <option><a href="#">Ohio</a></option>
                              <option><a href="#">Oklahoma</a></option>
                              <option><a href="#">Oregon</a></option>
                              <option><a href="#">Pennsylvania</a></option>
                              <option><a href="#">Rhode Island</a></option>
                              <option><a href="#">South Carolina</a></option>
                              <option><a href="#">South Dakota</a></option>
                              <option><a href="#">Tennessee</a></option>
                              <option><a href="#">Texas</a></option>
                              <option><a href="#">Utah</a></option>
                              <option><a href="#">Vermont</a></option>
                              <option><a href="#">Virginia</a></option>
                              <option><a href="#">Washington</a></option>
                              <option><a href="#">West Virginia</a></option>
                              <option><a href="#">Wisconsin</a></option>
                              <option><a href="#">Wyoming</a></option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                          <div class="btn-group add-a-photo hidden-xs hidden-sm visible-md visible-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              Add a Photo <img src="../images/pool/addphoto@2x.png" class="dropdown-arrow" />
                            </button> <span class="hidden-xs hidden-sm hidden-md hidden-lg no-file-chosen">&nbsp; No File Chosen</span>
                          </div>
                        </div>
                        <div class="col-sm-3 col-md-2">
                          <span class="hidden-xs hidden-sm visible-md visible-lg no-file-chosen">&nbsp; No File Chosen</span>
                        </div>
                      </div>
                    </div>

                    <div class="btn-group add-a-photo visible-xs visible-sm hidden-md hidden-lg">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add a Photo <img src="../images/pool/addphoto@2x.png" class="dropdown-arrow" />
                      </button>
                    </div>
                    <span class="hidden-xs visible-sm hidden-md hidden-lg no-file-chosen">No File Chosen</span>

                  <div class="row">
                    <div class="col-sm-12 what-joints">
                      <p class="blue-accent">What joint(s) did you have replaced?</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                      <strong><p class="blue-accent">Hip</p></strong>
                      <ul class="hip-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                      <strong><p class="blue-accent">Knee</p></strong>
                      <ul class="knee-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                      <strong><p class="blue-accent">Shoulder</p></strong>
                      <ul class="shoulder-list">
                        <li>
                          <input type="checkbox"> Left
                        </li>
                        <li>
                          <input type="checkbox"> Right
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="col-sm-12 what-joints">
                      <p class="blue-accent">What activities/hobbies have returned to you?</p>
                    </div>
                  </div>
                  <div class="row visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12 list-of-activity-items">
                      <p>
                        <img src="../images/pool/tennis@2x.png" class="activity-icon tennis-icon" />
                        <input type="checkbox"> Tennis
                      </p>
                      <p>
                        <img src="../images/pool/swimming@2x.png" class="activity-icon swimming-icon" />
                        <input type="checkbox"> Swimming
                      </p>
                      <p>
                        <img src="../images/pool/biking@2x.png" class="activity-icon biking-icon" />
                        <input type="checkbox"> Biking
                      </p>
                      <p>
                        <img src="../images/pool/walking@2x.png" class="activity-icon walking-icon" />
                        <input type="checkbox"> Walking
                      </p>
                      <p>
                        <img src="../images/pool/golfing@2x.png" class="activity-icon golfing-icon" />
                        <input type="checkbox"> Golfing
                      </p>
                      <p>
                        <img src="../images/pool/dancing@2x.png" class="activity-icon dancing-icon" />
                        <input type="checkbox"> Dancing
                      </p>
                    </div>
                  </div>
                  <div class="row visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12">
                      <input type="text" class="form-control other" />
                      <p class="other"><input type="checkbox"> Other</p>
                    </div>
                  </div>


                  <div class="row hidden-xs visible-sm visible-md visible-lg">
                    <div class="col-sm-12 what-joints">
                      <p class="blue-accent">What activities/hobbies have returned to you?</p>
                    </div>
                  </div>
                  <div class="row hidden-xs visible-sm visible-md visible-lg checkbox-options">
                    <div class="col-xs-12">
                      <div class="activity-option">
                        <p>
                          <img src="../images/pool/tennis@2x.png" class="activity-icon tennis-icon" />
                          <input type="checkbox"> Tennis
                        </p>
                      </div>
                      <div class="activity-option">
                        <p>
                          <img src="../images/pool/swimming@2x.png" class="activity-icon swimming-icon" />
                          <input type="checkbox"> Swimming
                        </p>
                      </div>
                      <div class="activity-option">
                        <p>
                          <img src="../images/pool/biking@2x.png" class="activity-icon biking-icon" />
                          <input type="checkbox"> Biking
                        </p>
                      </div>
                      <div class="activity-option">
                        <p>
                          <img src="../images/pool/walking@2x.png" class="activity-icon walking-icon" />
                          <input type="checkbox"> Walking
                        </p>
                      </div>
                      <div class="activity-option">
                        <p>
                          <img src="../images/pool/golfing@2x.png" class="activity-icon golfing-icon" />
                          <input type="checkbox"> Golfing
                        </p>
                      </div>
                      <div class="activity-option last">
                        <p>
                          <img src="../images/pool/dancing@2x.png" class="activity-icon dancing-icon" />
                          <input type="checkbox"> Dancing
                        </p>
                      </div>
                      <div class="other-option">
                        <input type="text" class="form-control other" />
                        <p class="other"><input type="checkbox"> Other</p>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-12 depuy-joint">
                      <p class="blue-accent">Do you have a DePuy Synthes Joint Reconstruction hip, knee or shoulder replacement? </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                      <ul class="list row">
                        <li class="col-sm-4 col-md-4 col-lg-2">
                          <input type="checkbox"> Yes
                        </li>
                        <li class="col-sm-4 col-md-4 col-lg-2">
                          <input type="checkbox"> No
                        </li>
                        <li class="col-sm-4 col-md-4 col-lg-3">
                          <input type="checkbox"> I don't know
                        </li>
                      </ul>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-12 what-was-life-like">
                      <p class="blue-accent">What was life like before joint replacement? What major activities did you stop that affected your quality of life?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 turning-point">
                      <p class="blue-accent">What was the turning point for you (the moment you knew you needed to move ahead with surgery)?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 life-now">
                      <p class="blue-accent"> What is life like now? How has joint replacement changed your life?</p>
                      <textarea rows="3"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 advice-for-others">
                      <p class="blue-accent">What advice do you have for others - around rehab, watiing to have your joint replacement, etc?
                      </p>
                      <textarea rows="3"></textarea>
                      <p class="character-limit-reminder">140 characters left</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 submit-checkbox">
                      <p class="consent-form"><input type="checkbox"> I have read and agree to the <a href="#" data-toggle="modal" data-target="#myModal">Consent Form &rsaquo;</a></p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-2 submit-button">
                      <button type="button" class="btn btn-primary btn-default submit-story-btn">Submit Story </button>
                    </div>
                    <div class="col-xs-12 col-sm-9 submit-checkbox">
                      <p><span class="required">All Fields Required</span>
                      <br />Last name and email address will not be displayed</p>
                    </div>
                  </div>

                </form>




                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="../images/consent-form.jpg" class="consent-form" />
                      </div>
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-sm-9 col-xs-9 agree-check">
                            <input type="checkbox"> I have read and agree to this consent and release form
                          </div>
                          <div class="col-sm-3 col-xs-3">
                            <button type="button" class="close" data-dismiss="modal">
                              <span class="close-text">CLOSE</span>
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>























      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="foottopnav">
              <li>
                <a href="#">
                  <h6>Careers - Johnson & Johnson </h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Contact Us</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Privacy Policy</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Legal Notice</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Safe Harbor</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Ethics Hotline</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>Consultant Indentification & Payments</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>California Compliance Notice</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h6 id="jpr">Joint Pain Resources:</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="nopad text-left" id="footbotnav">
              <a href="#" class="bot highlight">
                <li>
                  <h6>Find A Physician</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>hipreplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>kneereplacement.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>reallifetested.com</h6>
                </li>
              </a>
              <a href="#" class="bot">
                <li>
                  <h6>hadiknownthen.com</h6>
                </li>
              </a>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              &#169 DePuy Synthes Joint Reconstruction, a division of DOI 2014. All rights reserved. This site is published by DePuy Synthes Companies which is solely responsible for its content.  This site is intended for visitors from the United States.  The third party trademarks used herein are the trademarks of their respective owners.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div class="nav-overlay navbar-collapse collapse"></div>
  </body>
</html>
