<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Depuy Synthes</title>
  <link rel="stylesheet" href="../css/vendor/normalize.css">
  <link rel="stylesheet" href="../css/vendor/bootstrap.css">
  <link rel="stylesheet" href="../css/source/style.css">
  <link rel="stylesheet" href="../css/vendor/select2.css">
  <link rel="stylesheet" href="../css/vendor/select2-bootstrap.css">
  <link rel="stylesheet" href="../css/vendor/font-awesome.min.css">
  <script src="../js/vendor/jquery.js"></script>
  <script src="../js/vendor/select2.min.js"></script>
  <script src="../js/vendor/bootstrap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCYPGCX6jqcCeTVYyiPZ8Epsh6HqP3j_nk"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
  <script src="../js/vendor/expand.min.js"></script>
  <script src="../js/vendor/imgLiquid.js"></script>
  <script src="../js/vendor/jquery.flexslider.js"></script>
  <script src="../js/vendor/spiderfy.min.js"></script>
  <script src="../js/source/main.js"></script>
</head>
<body>
  <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
      <div id="navy" class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <div id="nav-logo">
            </div>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="menu-primary-navigation" class="nav navbar-nav navbar-right">
            <li><a href="views/storyIndex.html" class="main-nav-active" id="ambassadors-nav-link">Ambassadors</a></li>
            <li><a href="views/storyForm.html" id="story-nav-link">Tell Us Your Story</a></li>
            <li>
              <form class="navbar-form navbar-left hidden-xs navbar-right" role="search">
                <div class="form-group input-group">
                  <span class="input-group-addon"><img src="../images/pool/search.png" /></span>
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  <div id="wrap">
    <div id="main" class="container-fluid">
      <div id="mapframe" class="row">
        <div class="col-xs-12 nopad">
          <div class="row map-filter hidden-xs">
            <div class="col-sm-12">
              <p class="select-from-drop-down">Select from drop down</p>
              <div class="row">
                <div class="col-sm-12">
                  <!-- <img src="../images/pool/dropdownarrow@2x.png" class="dropdown-arrow" /> -->
                  <select data-placeholder="State:" class="select21 drop-down state-items" role="menu">
                    <option></option>
                    <option><a href="#">All</a></option>
                    <option><a href="#">Alabama</a></option>
                    <option><a href="#">Alaska</a></option>
                    <option><a href="#">Arizona</a></option>
                    <option><a href="#">Arkansas</a></option>
                    <option><a href="#">California</a></option>
                    <option><a href="#">Colorado</a></option>
                    <option><a href="#">Connecticut</a></option>
                    <option><a href="#">Delaware</a></option>
                    <option><a href="#">Florida</a></option>
                    <option><a href="#">Georgia</a></option>
                    <option><a href="#">Hawaii</a></option>
                    <option><a href="#">Idaho</a></option>
                    <option><a href="#">Illinois</a></option>
                    <option><a href="#">Indiana</a></option>
                    <option><a href="#">Kansas</a></option>
                    <option><a href="#">Kentucky</a></option>
                    <option><a href="#">Louisiana</a></option>
                    <option><a href="#">Maine</a></option>
                    <option><a href="#">Maryland</a></option>
                    <option><a href="#">Massachusetts</a></option>
                    <option><a href="#">Michigan</a></option>
                    <option><a href="#">Minnesota</a></option>
                    <option><a href="#">Missippi</a></option>
                    <option><a href="#">Missouri</a></option>
                    <option><a href="#">Montana</a></option>
                    <option><a href="#">Nebraska</a></option>
                    <option><a href="#">Nevada</a></option>
                    <option><a href="#">New Hampshire</a></option>
                    <option><a href="#">New Jersey</a></option>
                    <option><a href="#">New Mexico</a></option>
                    <option><a href="#">New York</a></option>
                    <option><a href="#">North Carolina</a></option>
                    <option><a href="#">North Dakota</a></option>
                    <option><a href="#">Ohio</a></option>
                    <option><a href="#">Oklahoma</a></option>
                    <option><a href="#">Oregon</a></option>
                    <option><a href="#">Pennsylvania</a></option>
                    <option><a href="#">Rhode Island</a></option>
                    <option><a href="#">South Carolina</a></option>
                    <option><a href="#">South Dakota</a></option>
                    <option><a href="#">Tennessee</a></option>
                    <option><a href="#">Texas</a></option>
                    <option><a href="#">Utah</a></option>
                    <option><a href="#">Vermont</a></option>
                    <option><a href="#">Virginia</a></option>
                    <option><a href="#">Washington</a></option>
                    <option><a href="#">West Virginia</a></option>
                    <option><a href="#">Wisconsin</a></option>
                    <option><a href="#">Wyoming</a></option>
                  </select>
                  <!-- <img src="../images/pool/dropdownarrow@2x.png" class="dropdown-arrow" /> -->
                  <select data-placeholder="Joint Replacement:" class="select22 drop-down joint-items" role="menu">
                    <option></option>
                    <option><a href="#">All</a></option>
                    <option><a href="#">Hip</a></option>
                    <option><a href="#">Knee</a></option>
                    <option><a href="#">Shoulder</a></option>
                    <option><a href="#">Multiple Joints</a></option>
                  </select>
                  <!-- <img src="../images/pool/dropdownarrow@2x.png" class="dropdown-arrow" /> -->
                  <select data-placeholder="Activity/Hobby" class="select23 drop-down hobby-items" role="menu">
                    <option></option>
                    <option><a href="#">All</a></option>
                    <option><a href="#">Tennis</a></option>
                    <option><a href="#">Swimming</a></option>
                    <option><a href="#">Hiking</a></option>
                    <option><a href="#">Biking</a></option>
                    <option><a href="#">Walking</a></option>
                    <option><a href="#">Golfing</a></option>
                    <option><a href="#">Dancing</a></option>
                    <option><a href="#">Other</a></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
            <div class="row map-filter expand-collapse">
              <div class="col-sm-12">
                <a id="expander" href="#">
                  <p id="collapseText" class="collapse-map">Collapse Map <i class="fa fa-long-arrow-up"></i></p>
                </a>
              </div>
            </div>
          <div class="hidden-xs" id="map-canvas">
          </div>
        </div>
      </div>
      <div class="row container">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h2 id="sh1">
                Ambassadors <span class="grey">:</span>
              <span id="sh2">
                All Joint Replacement Patients
              </span>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <hr>
            </div>
          </div>






          <div class="row hidden-lg hidden-md hidden-sm visible-xs mobile-filter-row">
            <div class="col-xs-6">
              <select class="select22 drop-down joint-items" role="menu" aria-labelledby="dropdownMenu-mobile-filter">
                <option role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></option>
                <option role="presentation"><a role="menuitem" tabindex="-1" href="#">Hip</a></option>
                <option role="presentation"><a role="menuitem" tabindex="-1" href="#">Knee</a></option>
                <option role="presentation"><a role="menuitem" tabindex="-1" href="#">Shoulder</a></option>
                <option role="presentation"><a role="menuitem" tabindex="-1" href="#">Multiple Joints</a></option>
              </select>
            </div>
            <div class="col-xs-6 pull-right">
              <div class="dropdown show-filter">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-show" data-toggle="dropdown" aria-expanded="true">
                  Show: 12
                  <img src="../images/pool/dropdownarrow@2x.png" class="dropdown-arrow" />
                </button>
                <ul class="dropdown-menu show-menu" role="menu" aria-labelledby="dropdownMenu-show">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">24</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">48</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                </ul>
              </div>
            </div>
          </div>









          <div class="row visible-lg visible-md visible-sm hidden-xs filter-row-colorful">
            <ul class="col-xs-8 col-sm-9 col-md-8 col-lg-8 filter-items joint-items">
              <li><a href="#" class="all-item filter-item-active">All</a></li>
              <li><a href="#" class="hip-item">Hip</a></li>
              <li><a href="#" class="knee-item">Knee</a></li>
              <li><a href="#" class="shoulder-item">Shoulder</a></li>
              <li><a href="#" class="multi-item">Multiple Joints</a></li>
            </ul>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 sort-dropdown">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle show-filter" type="button" id="dropdownMenu-show" data-toggle="dropdown" aria-expanded="true">
                  Show: 12
                  <img src="../images/pool/dropdownarrow@2x.png" class="dropdown-arrow" />
                </button>
                <ul class="dropdown-menu show-filter-list" role="menu" aria-labelledby="dropdownMenu-show">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">24</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">48</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                </ul>
              </div>
            </div>
          </div>










          <div class="grid row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="mapped card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/bud.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Bud</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Brooklyn, NY</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="New York">
                        <input class="hide hobby" type="text" value="Hiking">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I never thought I would be able to hike again..."
                    </p>
                  </div>
                </div>
                <div class="hip-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Hip</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="mapped card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/sharon.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Sharon</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Escondido, CA</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="California">
                        <input class="hide hobby" type="text" value="Dancing">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "Dancing at my daughter's wedding meant more to me than words can express."
                    </p>
                  </div>
                </div>
                <div class="knee-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Knee</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="mapped card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/george.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">George</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Nashville, TN</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="Tennessee">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="shoulder-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Shoulder</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="mapped card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/harrold.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Harrold</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Cheyenne, WY</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="Wyoming">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="multiple-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Multiple Joints</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/bud.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Bud</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Brooklyn, NY</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="New York">
                        <input class="hide hobby" type="text" value="Hiking">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I never thought I would be able to hike again..."
                    </p>
                  </div>
                </div>
                <div class="hip-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Hip</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/sharon.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Sharon</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Escondido, CA</h6>
                        <input class="hide zip" type="number" value="92025">
                        <input class="hide state" type="text" value="California">
                        <input class="hide hobby" type="text" value="Dancing">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "Dancing at my daughter's wedding meant more to me than words can express."
                    </p>
                  </div>
                </div>
                <div class="knee-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Knee</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/george.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">George</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Nashville, TN</h6>
                        <input class="hide zip" type="number" value="37212">
                        <input class="hide state" type="text" value="Tennessee">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="shoulder-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Shoulder</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/harrold.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Harrold</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Cheyenne, WY</h6>
                        <input class="hide zip" type="number" value="82001">
                        <input class="hide state" type="text" value="Wyoming">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="multiple-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Multiple Joints</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/bud.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Bud</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Brooklyn, NY</h6>
                        <input class="hide zip" type="number" value="11225">
                        <input class="hide state" type="text" value="New York">
                        <input class="hide hobby" type="text" value="Hiking">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I never thought I would be able to hike again..."
                    </p>
                  </div>
                </div>
                <div class="hip-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Hip</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/sharon.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Sharon</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Escondido, CA</h6>
                        <input class="hide zip" type="number" value="92025">
                        <input class="hide state" type="text" value="California">
                        <input class="hide hobby" type="text" value="Dancing">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "Dancing at my daughter's wedding meant more to me than words can express."
                    </p>
                  </div>
                </div>
                <div class="knee-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Knee</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/george.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">George</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Nashville, TN</h6>
                        <input class="hide zip" type="number" value="37212">
                        <input class="hide state" type="text" value="Tennessee">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="shoulder-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Shoulder</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card-unit hero-unit">
                <div class="card-header row">
                  <div class="col-xs-6">
                    <img class="card-photo" src="../images/harrold.jpg">
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5 class="name pull-right">Harrold</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h6 class="city pull-right">Cheyenne, WY</h6>
                        <input class="hide zip" type="number" value="82001">
                        <input class="hide state" type="text" value="Wyoming">
                        <input class="hide hobby" type="text" value="Tennis">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-line row">
                  <div class="col-xs-12">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p id="card-quote">
                      "I played tennis all my life, but was unable for many years before my shoulder surgery."
                    </p>
                  </div>
                </div>
                <div class="multiple-card-footer card-footer row">
                  <div class="col-xs-6">
                    <h3 class="joint">Multiple Joints</h3>
                  </div>
                  <div class="col-xs-6">
                    <a class="pull-right" href="storyShow.html"><h5>Read Story </h5></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-count">
              <span class="previous-page">
                <a href="#">
                  <img src="../images/pool/leftarrow@2x.png" />
                </a>
              </span>
              <p>Page 1 of 7</p>
              <span class="next-page">
                <a href="#">
                  <img src="../images/pool/rightarrow@2x.png" />
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nopad text-left" id="foottopnav">
            <li>
              <a href="#">
                <h6>Careers - Johnson & Johnson </h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Contact Us</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Privacy Policy</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Legal Notice</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Safe Harbor</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Ethics Hotline</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>Consultant Indentification & Payments</h6>
              </a>
            </li>
            <li>
              <a href="#">
                <h6>California Compliance Notice</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h6 id="jpr">Joint Pain Resources:</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="nopad text-left" id="footbotnav">
            <a href="#" class="bot highlight">
              <li>
                <h6>Find A Physician</h6>
              </li>
            </a>
            <a href="#" class="bot">
              <li>
                <h6>hipreplacement.com</h6>
              </li>
            </a>
            <a href="#" class="bot">
              <li>
                <h6>kneereplacement.com</h6>
              </li>
            </a>
            <a href="#" class="bot">
              <li>
                <h6>reallifetested.com</h6>
              </li>
            </a>
            <a href="#" class="bot">
              <li>
                <h6>hadiknownthen.com</h6>
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            &#169 DePuy Synthes Joint Reconstruction, a division of DOI 2014. All rights reserved. This site is published by DePuy Synthes Companies which is solely responsible for its content.  This site is intended for visitors from the United States.  The third party trademarks used herein are the trademarks of their respective owners.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
