/* ==========================================================================
Base
========================================================================== */

body {
  text-rendering: optimizeLegibility;
  font-family: "Ariel", "Ariel Regular", "Helvetica", sans-serif;
  font-size:16px;
  color:#989898;
  background-color: #f4f4f4;
}

html, body {
  height: 100%;
}

h1 {
  font-family: "Ariel", "Ariel Regular", "Helvetica", sans-serif;
  font-size:30px;
  color: #0B3D60;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {
  font-size: 14px;
}

.blue-accent {color:#0B3D60;}

p {
  font-family: "Ariel", "Ariel Regular", "Helvetica", sans-serif;
  font-size:16px;
  color:#989898;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

.btn-primary {
  background: #FFF;
  border-radius: 0px 10px 0px 10px;
  border: 1px solid #FFF;
  color: #989898;
  font-size: 20px;
  padding: 7px 15px;
  opacity:1;
  transition: opacity .3s ease;
}

.btn-primary:after {
  content:"\203A";
}

.btn-primary:hover {
  opacity:.8;
  background:#FFF;
  border:1px solid #FFF;
  color: #989898;
}

.container-fluid {
  width: 100% !important;
}

#wrap {
  min-height: 80%;
  padding-top: 90px;
}

#main {
  overflow: auto;
  padding-bottom: 40px;
}

.nopad {
  padding: 0 !important;
}

.nomar {
  margin: 0 !important;
}

.inBlock {
  display: inline-block !important;
}

/* ==========================================================================
Navbar
========================================================================== */
nav {
  border-bottom: none;
}

.navbar-collapse.collapse {
  display: block !important;
  float: right;
  height:auto!important;
}

ul.nav.navbar-nav.navbar-right {
  height: 100%;
}

ul.nav.navbar-nav.navbar-right li a {
  height: 100%;
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;
  font-size:18px;
  font-weight: 300;
  letter-spacing: .3px;
}

ul.nav.navbar-nav.navbar-right li form {
  height: 100%;
  padding: 0px 20px 0px 10px;
  margin: 0;
  line-height: 90px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .3px;
  color:rgba(0,0,0,.2);
}

a#ambassadors-nav-link {
  color:#0B3D60;
  transition:color .1s ease, background .1s ease;
}

a#story-nav-link {
  color:#A39468;
  transition:color .1s ease, background .1s ease;
}

a#ambassadors-nav-link:hover,
a#story-nav-link:hover {
  background: #0B3D60;
  color: #FFF;
}

.navbar-form input.form-control {
  background: #EDEDED;
  inset: 0px;
  border-radius: 50px;
  height: 45px;
  border: none!important;
  box-shadow: none!important;
  font-size: 16px;
}

span.input-group-addon {
  border-radius: 50px;
  border: none;
  color: #BEBEBE;
  font-size: 18px;
  padding-right: 0px;
}

form.navbar-form .form-group.input-group {
  width: 200px;
}

#nav-logo {
  background-image: url('../../images/mobileLogo.png');
  background-repeat: no-repeat;
  background-size:contain;
  height: 90px;
  width: 250px;
  vertical-align: middle;
  margin: 10px 0;
}

.navbar-toggle {
  padding: 15px 15px !important;
  margin: 12px 0 !important;
}

.navbar-default {
  height: 90px;
  border: none;
  background-color: #FFF;
}

#navy {
  height: 100%;
}

.navbar-toggle {
  margin:20px 0px 0px 0px !important
}

.navbar-collapse.collapse.in {
  width: 100%;
  background: #FFF;
  text-align: center;
  padding: 0;
  margin: 14px auto;
  border:none;
  border-top: 1px solid #0B3D60!important;
}

.navbar-default .navbar-form {border:none;}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0B3D60;
  border: 3px solid #0B3D60;
  width: 29px;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-collapse.collapse.in .navbar-nav {
  margin: 0px auto;
}

.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right li a {
  line-height: 54px;
  border-bottom: 1px solid #CBCBCB;
  width: 90%;
  margin: 0 auto;
}

form.navbar-form .form-group.input-group {
  width: 480px;
  margin: 20px auto;
}

/* ==========================================================================
Footer
========================================================================== */
.footer {
  background-color: #0b3d60;
  position: relative;
  height: auto;
  clear:both;
  padding-top:20px;
  color:#FFF;
  font-size: 13px;
  font-weight: 100;
}

#foottopnav {
  width: 100%;
}

ul#foottopnav li {
  font-size: 13px;
  color: #FFF;
  letter-spacing: .4px;
}

#foottopnav > li {display: inline-block; white-space: nowrap; width: 100%;}
#foottopnav > li > a > h6 {color: #FFF;}
#foottopnav > li > a > h6:after {content: " \00b7"; color: #FFF;}
#foottopnav > li > a > h6.nobullet:after {content: none;}

#jpr {
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: .4px;
}

.bot {
  text-align: center;
  background-color: rgba(255,255,255,.25);
  display: table;
  color: #FFF;
  list-style: none;
  padding: 0px 10px;
  margin: 8px 3px;
  border-radius: 2px;
  transition: background-color .1s ease;
}

.bot:hover {
  background-color:rgba(255,255,255,1);
  color:#0b3d60;
  text-decoration:none;
}

footer p {
  margin-top: 25px;
  color: #FFF;
  font-size: 13px;
}

/* ==========================================================================
Home Page
========================================================================== */
/*-------- SLIDER BEGIN--------*/
.slides > li > div {
  width: 100% !important;
  height: 240px;

}

.flexslider {
  border: none !important;
  height: 240px;
}

.imgLiquidFill.imgLiquid.imgLiquid_bgSize.imgLiquid_ready {
  height: 240px!important;
}

.slide_title {
  font-weight: bold;
  font-size: 32px;
  color: #FFF;
  line-height: 1.1;
  padding-top:30px;
  letter-spacing: .4px;
}

.slide_byline {
  color: #FFF;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.4;
  margin-top: 15px;
}

.slide_text {
  width:100%;
  padding:0px 60px 0px 80px;
}

.inner-shadow {
  -webkit-box-shadow: inset 0 0 50px 0 rgba(96,23,92,.8);
  box-shadow: inset 0 0 50px 0 rgba(96,23,92,.8);
  z-index: 2;
  position: relative;
}

.shadowT {
  -moz-box-shadow:    inset 1px 10px 20px -6px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 1px 10px 20px -6px rgba(0,0,0,.5);
  box-shadow:         inset 1px 10px 20px -6px rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
}

.shadowB {
  -moz-box-shadow:    inset 1px -20px 20px -6px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 1px -20px 20px -6px rgba(0,0,0,.5);
  box-shadow:         inset 1px -20px 20px -6px rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
}
/*-------- SLIDER END--------*/





/*-------- STORY CARD BEGIN --------*/

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.card-photo {
  border-radius: 60px;
  height: 110px;
  width: 110px;
  border: 7px solid #FFF;
  position: relative;
  top: -30px;
  margin-bottom: -56px;
  z-index: 2;
}

.card-line {
  position: relative;
  top: -10px;
}

.card-header {
  padding: 10px 10px 0px 0px;
}

.card-footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  letter-spacing: .3px;
}

.card-footer h3 {
  font-size: 14px;
  color: #FFF;
  margin: 15px 0px 15px 0px;
}

.card-footer a h5 {
  font-size: 14px;
  color: rgba(255,255,255,.5);
  margin: 15px 0px 15px 0px;
  text-decoration:none;
  transition:color .3s ease;
}

.card-footer a h5:after {
  content:"\203A";
}

.card-footer a:hover h5 {
  text-decoration:none;
  color:rgba(255,255,255,1);
}

.hip-card-footer {
  background-color: #a39468;
}

.knee-card-footer {
  background-color: #0b3d60;
}

.shoulder-card-footer {
  background-color: #882828;
}

.card-unit h5 {
  font-size: 20px;
  color: #989898;
  margin-bottom: 0px;
}

.card-unit h6 {
  margin-top: 0px;
  font-size: 12px;
  color: #989898;
}

#card-quote {
  height: 55px;
  font-size: 14px;
  color: #989898;
  letter-spacing: .2px;
}

.ambassamore {
  text-align: center;
  margin-top: 20px;
}

.ambassamore > a {
  background-color: #979797;
  border-radius: 0px 10px 0px 10px;
  border: 1px solid #979797;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
  padding: 7px 15px;
  opacity: 1;
  transition: opacity .3s ease;
}

.ambassamore > a:after {
  content: "\203A";
}

.ambassamore > a:hover {
  opacity:.8;
}

/*-------- STORY CARD END --------*/

/* ==========================================================================
Story Show Page
========================================================================== */
.story-unit {
  background-color: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);
}

.card-unit {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.hero-unit > div {
  margin: 0 !important;
}

#socialTop > li, #socialTop > li > h6 {
  display: inline-block;
}

#socialTop {
  display: none !important;
}

.storyHeader > h2 {
  font-size: 18px;
  font-weight: 100;
  margin:0;
}

.storyHeader.text-left.inBlock {
  width: 100%;
}

h2#sh2 {
  color: #6A6A6A;
  margin-top: 6px;
}

h2#sh1 {
  color: #0b3d60;
  margin-top:20px;
}

#botSocials {
  text-align: center;
}

#socialBot {
  padding-left: 0 !important;
}

#socialBot, #socialBot > li, #socialBot > li > h6 {
  display: inline-block;
}

ul#socialBot i,
ul#socialTop i {
  color: #0B3D60;
  font-size: 25px;
  margin-left: 10px;
  transition:opacity .2s ease;
}

ul#socialBot i:hover,
ul#socialTop i:hover {
  opacity:.8;
}

ul#socialBot li,
ul#socialTop li {
  font-size:13px;
  color:#989898;
  font-weight:100;
  letter-spacing:.4px;
}

/* ==========================================================================
Slider
========================================================================== */







/* ==========================================================================
Primary Content
========================================================================== */






/* ==========================================================================
Media Queries
========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices 768px and up */
@media (min-width: 768px) {

  .container {
    min-width: 750px;
  }

/*-------- NAVBAR BEGIN--------*/
  .navbar-default {
    height: 100px;
    border: none;
    z-index: 3;
  }

  .navbar-brand {
    height: 100px;
    width: 30%;
    line-height: 100px;
  }

  .navbar-collapse.collapse {
    width: 70%;
  }

  #nav-logo {
    background-size: contain;
    height: 100px;
    width: 100%;
  }

  ul.nav.navbar-nav.navbar-right li a {
    font-size: 16px;
    line-height:100px;
  }

  ul.nav.navbar-nav.navbar-right li form {
    line-height: 100px;
  }

  form.navbar-form .form-group.input-group {
    width: 140px;
  }

  .shadow-top {padding-top:100px;}
/*-------- NAVBAR END --------*/




/*-------- SLIDER BEGIN--------*/
  .slides > li > div {
    width: 100% !important;
    height: 500px;

  }

  .flexslider {
    border: none !important;
    height: 500px;
  }

  .imgLiquidFill.imgLiquid.imgLiquid_bgSize.imgLiquid_ready {
    height: 500px!important;
  }

  .slide_title {
    font-weight: bold;
    font-size: 52px;
    color: #FFF;
  }

  .slide_byline {
    font-size: 18px;
  }

  .slide_text {
    width:60%;
    padding:0px 80px;
    padding-top:70px;
  }
/*-------- SLIDER END --------*/





/*-------- STORY CARD BEGIN --------*/

.card-line {
  top: -20px;
}

.card-unit h6 {
  margin-top: 3px;
  font-size: 9px;
}

hr {
  margin-bottom: 5px;
}

#card-quote {
  height: 80px;
}

.card-photo {
  height: 90px;
  width: 90px;
}

/*-------- STORY CARD END --------*/





/* ------- FOOTER BEGIN -----*/
  ul#foottopnav li {
    font-size: 13px;
    color: #FFF;
    letter-spacing: .4px;
    display: inline-block;
    width:auto;
  }

  ul#foottopnav {list-style: none;}

  #foottopnav > li > a > h6 {margin: 0px;}

  #jpr {margin-bottom: 0px;}

  .bot {display:inline-block;}

  footer p {margin-top:10px;}
/* ------- FOOTER END -----*/


/*-------- Story Show Begin --------*/
  #socialTop {
    display: inline-block !important;
    margin-top: 13px;
  }

  #botSocials {
    display: none !important;
  }

  .storyHeader.text-left.inBlock {
    width: auto;
  }

  /*-------- Story Show End --------*/

}

/* Medium devices 992px and up */
@media (min-width: 992px) {

  /*-------- SLIDER BEGIN--------*/
  .slides > li > div {
    width: 100% !important;
    height: 600px;
  }

  .flexslider {
    border: none !important;
    height: 600px;
  }

  .imgLiquidFill.imgLiquid.imgLiquid_bgSize.imgLiquid_ready {
    height: 600px!important;
  }

  .slide_title {
    font-size: 72px;
  }
/*-------- SLIDER END--------*/


/*-------- Story Show Begin --------*/
.storyHeader > h2 {
  font-size: 28px;
}

.storyHeader.text-left.inBlock {
  margin-top: 35px;
}

#socialTop {
  margin-top: 59px;
}

/*-------- Story Show End --------*/


}


/* Large devices 1200px and up */
@media (min-width: 1200px) {

  .container {
    max-width: 1170px !important;
  }

  /*-------- SLIDER BEGIN--------*/
  .slides > li > div {
    width: 100% !important;
    height: 600px;

  }

  .flexslider {
    border: none !important;
    height: 600px;
  }

  .imgLiquidFill.imgLiquid.imgLiquid_bgSize.imgLiquid_ready {
    height: 600px!important;
  }

  .slide_text {
    width:55%;
    padding-top:100px;
    padding: 100px 0px 0px 130px;
  }

  .slide_byline {
    line-height: 1.4;
    margin-top:20px;
    font-size:24px;
  }
  /*-------- SLIDER END--------*/

  footer {padding-bottom:20px;}

}
